@import "../../assets/scss/_mixin.scss";
@import "../../assets/scss/_function.scss";
#player{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    // padding-top: px2rem(48);
    .base-info{
        padding: px2rem(13);
        padding-bottom: px2rem(16);
        border-bottom: 1px dashed #BFBFBF;
        padding-top: px2rem(55);
        .row1{
            display: flex;
            align-items: center;
            .name{
                font-size: 30px;
                color: #2B333B;
                flex-grow: 1;
            }
            .btn-box{
                flex-shrink: 0;
                button{
                    height: px2rem(38);
                    min-width: px2rem(110);
                    padding: 0 0.5rem;
                    border: 0;
                    color: #fff;
                    border-radius: px2rem(2);
                    &.countdown{
    					background-color: #FB4747;
    					cursor: not-allowed;
    				}
    				&.tomorrow{
    					background-color: #FB4747;
    					cursor: not-allowed;
    				}
    				&.canvote{
    					background-color: #129AEE;
    					&:active{
    						opacity: 0.8;
    					}
    				}
    				&.disabled{
    					background-color: #d7d7d7;
    					cursor: not-allowed;
    				}
                }
            }
        }
        .row2{
            margin-top: px2rem(10);
            line-height: 1;
            color: #2b333b;
            strong{
                font-weight: normal;
                color: #FB4747;
            }
        }
        .row3{
            margin-top: px2rem(10);
            color: #2b333b;
            line-height: 1;
        }
    }
    .play-info{
        .declaration{
            font-size: px2rem(16);
            line-height: 1.5;
            color: #686868;
            padding: px2rem(20) px2rem(13);
        }
        .pic{
            margin-bottom: px2rem(10);
            img{
                width: 100%;
                display: block;
            }
        }
    }
    .btn-group{
        padding: px2rem(16) px2rem(13);
        p{
            padding-bottom: px2rem(13);
            button{
                width: 100%;
                height: px2rem(48);
                color: #fff;
                font-size: px2rem(18);
                border-radius: px2rem(3);
                border: 0;
                &.countdown{
                    background-color: #FB4747;
                    cursor: not-allowed;
                }
                &.tomorrow{
                    background-color: #FB4747;
                    cursor: not-allowed;
                }
                &.canvote{
                    background-color: #129AEE;
                    &:active{
                        opacity: 0.8;
                    }
                }
                &.disabled{
                    background-color: #d7d7d7;
                    cursor: not-allowed;
                }
            }
            a{
                background: #FD9E24;
                width: 100%;
                display: block;
                height: px2rem(48);
                line-height: px2rem(48);
                text-align: center;
                color: #fff;
                font-size: px2rem(18);
                border-radius: px2rem(3);
                text-decoration: none;
                border: 0;
                &:active{
                    opacity: 0.8;
                }
                &.share{
                    background-color: #129AEE;
                }
            }
        }
    }
}
