#vote {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}

#vote .poster {
  width: 100%;
  background-color: #ddd;
  height: 11.25rem;
  overflow: hidden;
}

#vote .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#vote .rule-list li {
  border-bottom: 1px dashed #BFBFBF;
  padding-bottom: 1.25rem;
}

#vote .rule-list li:last-child {
  border-bottom: 0;
}

#vote .rule-list li .tit {
  padding-top: 1.25rem;
}

#vote .rule-list li .tit .icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../../assets/image/sprite.png");
  background-position: -56px -102px;
  width: 16px;
  height: 16px;
  background-size: 122px 120px;
}

#vote .rule-list li .tit span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  color: #2b333b;
}

#vote .rule-list li .rule-cont {
  color: #686868;
  margin-top: 1rem;
}

#vote .rule-list li .rule-cont p {
  padding-bottom: 0.125rem;
  line-height: 1.5;
  font-size: 1rem;
}

#vote .signup-btn {
  padding: 0 0.625rem;
  padding-bottom: 0.625rem;
}

#vote .signup-btn .btn {
  height: 2.75rem;
  width: 100%;
  color: #fff;
  background: #129AEE;
  border-radius: 0.125rem;
  font-size: 1.125rem;
  border: 0;
  text-decoration: none;
  text-align: center;
  margin-bottom: 15px;
}

#vote .signup-btn .btn.btn-disabled {
  background-color: #d7d7d7;
  cursor: not-allowed;
}

#vote .signup-btn .btn.btn-primary {
  background-color: #129AEE;
}

#vote .signup-btn .btn.btn-primary:active {
  opacity: 0.8;
}

#vote .signup-btn .btn.btn-info {
  background-color: #FD9E24;
}

#vote .signup-btn .btn.btn-info:active {
  opacity: 0.8;
}
