<div id="vote" ng-controller="vote">
    <!-- <app-header back="javascript:history.go(-1);" title="详情"></app-header> -->
    <app-back></app-back>
    <div class="poster">
        <img ng-src="{{detail.coverPhoto}}" alt="">
    </div>
    <ul class="rule-list" ng-show="detail">
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动介绍</span>
            </h2>
            <div class="rule-cont">
                <p>{{detail.actProfile}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动组织</span>
            </h2>
            <div class="rule-cont">
                <p ng-if="detail.orgMain">主办单位：{{detail.orgMain}}</p>
                <p ng-if="detail.orgSecondary">协办单位：{{detail.orgSecondary}}</p>
                <p ng-if="detail.undertaker">承办单位：{{detail.undertaker}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动时间</span>
            </h2>
            <div class="rule-cont">
                <p>报名时间：{{detail.signupStart | date:"yyyy/MM/dd HH:mm"}} - {{detail.signupEnd | date:"yyyy/MM/dd HH:mm"}}</p>
                <p>投票时间：{{detail.voteStart | date:"yyyy/MM/dd HH:mm"}} - {{detail.voteEnd | date:"yyyy/MM/dd HH:mm"}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>参选指南</span>
            </h2>
            <div class="rule-cont">
                <p ng-repeat="item in detail.signUpRule">{{item}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动奖励</span>
            </h2>
            <div class="rule-cont" ng-repeat="item in detail.reward">
                <p>{{item.grade}} {{item.number}}人</p>
                <p>奖品：{{item.goods}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>投票方式</span>
            </h2>
            <div class="rule-cont">
                <p>{{detail.voteMethod}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>投票规则</span>
            </h2>
            <div class="rule-cont">
                <p ng-repeat="item in detail.voteRule">{{$index+1}}、{{item}}</p>
            </div>
        </li>
    </ul>
    <div class="signup-btn" ng-show="detail">
        <!-- 1未开始 2报名中 3报名已结束 -->
        <button ng-if="detail.status==2" class="notover" ui-sref="signup" type="button">我要报名</button>
        <button ng-if="detail.status==3" class="over" type="button">报名已结束</button>
        <button ng-if="detail.status==1" class="over" type="button">报名未开始</button>
    </div>
</div>
