<div id="vote" ng-controller="vote" ng-class="{'hasHeader':hasHeader}">
    <app-header ng-show="hasHeader" back>投票详情</app-header>
    <app-back ng-show="!hasHeader"></app-back>
    <!-- <div class="poster">
        <img ng-src="{{detail.coverPhoto}}" alt="">
    </div> -->
    <div class="poster">
        <img ng-src="{{detail.prizePhoto}}" alt="">
    </div>
    <ul class="rule-list" ng-show="detail">
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动主题</span>
            </h2>
            <div class="rule-cont">
                <p>{{detail.actProfile}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动组织</span>
            </h2>
            <div class="rule-cont">
                <p ng-if="detail.orgMain">主办单位：{{detail.orgMain}}</p>
                <p ng-if="detail.orgSecondary">协办单位：{{detail.orgSecondary}}</p>
                <p ng-if="detail.undertaker">承办单位：{{detail.undertaker}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动时间</span>
            </h2>
            <div class="rule-cont">
                <p>报名时间：{{detail.signupStart | date:"yyyy/MM/dd HH:mm"}} - {{detail.signupEnd | date:"yyyy/MM/dd HH:mm"}}</p>
                <p>投票时间：{{detail.voteStart | date:"yyyy/MM/dd HH:mm"}} - {{detail.voteEnd | date:"yyyy/MM/dd HH:mm"}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>参赛须知</span>
            </h2>
            <div class="rule-cont">
                <p ng-repeat="item in detail.signUpRule">{{$index+1}}、{{item}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>活动奖励</span>
            </h2>
            <div class="rule-cont" ng-repeat="item in detail.reward">
                <p>{{item.grade}} {{item.number}}人</p>
                <p>奖品：{{item.goods}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>投票方式</span>
            </h2>
            <div class="rule-cont">
                <p>{{detail.voteMethod}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>投票规则</span>
            </h2>
            <div class="rule-cont">
                <p ng-repeat="item in detail.voteRule">{{$index+1}}、{{item}}</p>
            </div>
        </li>
        <li class="padd-cont">
            <h2 class="tit">
                <i class="icon"></i>
                <span>联系客服</span>
            </h2>
            <div class="rule-cont">
                <p>
                    <span>客服微信：</span>
                    <span>{{detail.serviceWeixin || '无'}}</span>
                </p>
                <p>
                    <span>客服电话：</span>
                    <span>{{detail.servicePhone || '无'}}</span>
                </p>
            </div>
        </li>
    </ul>
    <div class="signup-btn" ng-show="detail">

        <!-- 1未开始 2报名中 3报名已结束 -->
        <!-- <button ng-if="detail.status==1" class="over" type="button">报名未开始</button>
        <button ng-if="detail.status==2" class="notover" ui-sref="signup" type="button">我要报名</button>
        <button ng-if="detail.status==3" class="over" type="button">报名已结束</button> -->

        <button ng-if="detail.status==1" class="btn btn-disabled" type="button">报名未开始</button>
        <button ng-if="detail.status==2" class="btn btn-primary" ui-sref="signup" type="button">我要报名</button>
        <button ng-if="detail.status==3" class="btn btn-disabled" type="button">报名已结束</button>
        <button class="btn btn-info" type="button" ng-click="share()">分享给好友</button>


    </div>
</div>
