<div id="index">
    <div class="poster">
        <img src="./assets/image/poster.jpg" alt="">
    </div>
    <div class="padd-cont">
        <h1 class="title">
            2017-百度云正在寻找最有范的百度封面代表人物
        </h1>
        <div class="tip">
            <div class="over"></div>
            <p class="p1">
                <i class="icon"></i>
                <span class="time">投票2017/3/25 22:00:00结束</span>
                <span class="status">（投票中）</span>
            </p>
            <p class="p2">
                <i class="icon"></i>
                <span class="status">投票已过截至时间</span>
            </p>
        </div>
        <div class="table-cont">
            <table>
                <tr>
                    <th>已报名</th>
                    <th>投票人次</th>
                    <th>访问量</th>
                </tr>
                <tr>
                    <td>45</td>
                    <td>568</td>
                    <td>6546</td>
                </tr>
            </table>
        </div>
        <div class="look-detail-btn">
            <a class="link">
                <i class="icon"></i>
                <span>点击查看活动说明及奖励</span>
            </a>
        </div>
        <div class="search-btn">
            <div class="ipt">
                <i class="icon"></i>
                <input type="text" placeholder="请输入选手的姓名或编号">
            </div>
            <div class="btn">
                <button type="button">搜索</button>
            </div>
        </div>
        <ul class="player-list">
            <li>
                <div class="inner">
                    <div class="pic">
                        <img src="./assets/image/head-pic.jpg" alt="">
                    </div>
                    <p class="p1">林先靖  编号:001</p>
                    <p class="p2">
                        <span>票数</span>
                        <strong>1321</strong>
                        <span>名次</span>
                        <strong>1</strong>
                    </p>
                    <button class="give" type="button">投票成功</button>
                </div>
            </li>
            <li>
                <div class="inner">
                    <div class="pic">
                        <img src="./assets/image/head-pic.jpg" alt="">
                    </div>
                    <p class="p1">林先靖  编号:001</p>
                    <p class="p2">
                        <span>票数</span>
                        <strong>1321</strong>
                        <span>名次</span>
                        <strong>2</strong>
                    </p>
                    <button class="notgive" type="button">投一票</button>
                </div>
            </li>
            <li>
                <div class="inner">
                    <div class="pic">
                        <img src="./assets/image/head-pic.jpg" alt="">
                    </div>
                    <p class="p1">林先靖  编号:001</p>
                    <p class="p2">
                        <span>票数</span>
                        <strong>1321</strong>
                        <span>名次</span>
                        <strong>3</strong>
                    </p>
                    <button class="notgive" type="button">投一票</button>
                </div>
            </li>
            <li>
                <div class="inner">
                    <div class="pic">
                        <img src="./assets/image/head-pic.jpg" alt="">
                    </div>
                    <p class="p1">林先靖  编号:001</p>
                    <p class="p2">
                        <span>票数</span>
                        <strong>1321</strong>
                        <span>名次</span>
                        <strong>4</strong>
                    </p>
                    <button class="notgive" type="button">投一票</button>
                </div>
            </li>
        </ul>
        <p class="load-more">
            加载中...
            <!-- 已加载完所有 -->
        </p>
    </div>
</div>
