#succ {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}

#succ.hasHeader {
  padding-top: 3em;
}

#succ .poster {
  width: 100%;
  background-color: #ddd;
  height: 11.25em;
  overflow: hidden;
}

#succ .poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#succ .tit {
  font-size: 1.25em;
  color: #2B333B;
  text-align: center;
  padding: 1.25em 0.8125em;
  padding-top: 1.875em;
  line-height: 1;
}

#succ .desc {
  font-size: 1em;
  line-height: 1.5;
  color: #2B333B;
  text-align: center;
  padding: 0 1.25em;
}

#succ .contact {
  margin-top: 1.25em;
  font-size: 1em;
  color: #2B333B;
}

#succ .contact p {
  text-align: center;
  line-height: 1.5;
  padding: 0 4px;
}

#succ .btn {
  padding: 0.8125em;
  padding-top: 2.5em;
}

#succ .btn a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  color: #fff;
  font-size: 1.125em;
  background: #129AEE;
  border-radius: 0.1875em;
  border: 0;
}

#succ .btn a:active {
  opacity: 0.8;
}
