#signup .poster {
  width: 100%;
  background-color: #ddd;
  height: 11.25rem;
  overflow: hidden;
}

#signup .poster img {
  max-width: 100%;
  height: auto;
}

#signup .time {
  background: #EBEBEB;
  border-bottom: 1px dashed #BFBFBF;
}

#signup .time p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.9375rem;
  font-size: 0.9375rem;
  color: #2B333B;
}

#signup .time p .icon {
  margin-right: 6px;
  background-image: url("../../assets/image/sprite.png");
  background-position: -78px -102px;
  width: 14px;
  height: 14px;
  background-size: 120px 120px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

#signup .time p span {
  line-height: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#signup .time p:first-child {
  padding-top: 0.875rem;
}

#signup .time p:last-child {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

#signup .padd-cont {
  padding-bottom: 2.5rem;
}

#signup .padd-cont .form-group {
  margin-top: 20px;
}

#signup .padd-cont .form-group .form-label {
  color: #2B333B;
}

#signup .padd-cont .form-group .pic-view-list {
  margin-top: 8px;
}

#signup .padd-cont .form-group .pic-view-list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

#signup .padd-cont .form-group .pic-view-list li {
  float: left;
  width: 33.33%;
  padding: 0 2px;
}

#signup .padd-cont .form-group .pic-view-list li .inner {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .delpic {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .delpic .icon {
  display: block;
  background-image: url("../../assets/image/sprite.png");
  background-position: 0px -34px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic {
  margin-top: 1.25rem;
  position: relative;
  z-index: 2;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic p {
  font-size: 0.875rem;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
  line-height: 1;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic button {
  display: block;
  margin: 0 auto;
  height: 3.125rem;
  width: 4.375rem;
  background: url(../../assets/image/add-pic.png) no-repeat center;
  background-size: cover;
  border: 0;
  overflow: hidden;
  cursor: pointer;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content .addpic button input {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#signup .padd-cont .form-group .pic-view-list li .inner .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 10;
}

#signup .padd-cont .form-group .pic-view-list li:first-child {
  padding-right: 4px;
  padding-left: 0;
}

#signup .padd-cont .form-group .pic-view-list li:last-child {
  padding-right: 0;
  padding-left: 4px;
}

#signup .padd-cont .form-group .form-tip {
  font-size: 0.875rem;
  line-height: 1;
  padding-top: 10px;
  color: #848689;
}

#signup .padd-cont .form-group .form-ipt {
  margin-top: 8px;
}

#signup .padd-cont .form-group .form-ipt input {
  height: 2.75rem;
  width: 100%;
  border: 1px solid #BFBFBF;
  border-radius: 0.125rem;
  padding-left: 0.625rem;
}

#signup .padd-cont .form-group .form-ipt input:focus {
  border: 1px solid #129AEE;
}

#signup .padd-cont .form-group .form-ipt textarea {
  width: 100%;
  border: 1px solid #BFBFBF;
  border-radius: 0.125rem;
  padding: 0.25rem 0.625rem;
  resize: vertical;
}

#signup .padd-cont .form-group .form-ipt textarea:focus {
  border: 1px solid #129AEE;
}

#signup .padd-cont .form-group .form-btn {
  height: 2.75rem;
  width: 100%;
  color: #fff;
  background: #129AEE;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  border: 0;
}

#signup .padd-cont .form-group .form-btn:active {
  opacity: 0.8;
}
