@import "../../assets/scss/_mixin.scss";
@import "../../assets/scss/_function.scss";
@import "../../assets/scss/_sprite.scss";
#signup{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    &.hasHeader{
        padding-top: px2em(48);
    }
    .poster{
        width: 100%;
        background-color: #ddd;
        height: px2em(180);
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .time{
        background: #fbfbfb;
        border-bottom: 1px dashed #ccc;
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: px2em(10);
            font-size: px2em(15);
            color: #666;
            .icon{
                margin-right: 6px;
                @include sprite($icon-timer);
                flex-shrink: 0;
            }
            span{
                line-height: 1;
                flex-grow: 1;
            }
            &:first-child{
                padding-top: px2em(14);
            }
            &:last-child{
                padding-top: px2em(10);
                padding-bottom: px2em(10);
            }
        }
    }
    .padd-cont{
        padding-bottom: px2em(25);
        .form-group{
            margin-top: 20px;
            .form-label{
                color: #555;
                font-size: px2em(16);
            }
            .pic-view-list{
                @include clearfix();
                margin-top: 8px;
                li{
                    float: left;
                    width: 33.33%;
                    padding: 0 2px;
                    .inner{
                        width: 100%;
                        padding-top: 100%;
                        position: relative;
                        .content{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #e6e6e6;
                            overflow: hidden;
                            .delpic{
                                position: absolute;
                                top: 0;
                                right: 0;
                                border: 0;
                                background-color: rgba(0,0,0,0.5);
                                z-index: 20;
                                .icon{
                                    display: block;
                                    @include sprite($icon-delpic);
                                }
                            }
                            .addpic{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 20;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                p{
                                    font-size: px2em(14);
                                    text-align: center;
                                    color: #fff;
                                    margin-top: px2em(8);
                                    line-height: 1;
                                }
                                button{
                                    display: block;
                                    margin: 0 auto;
                                    border: 0;
                                    height: px2em(50);
                                    width: px2em(70);
                                    background: url(../../assets/image/add-pic.png) no-repeat center;
                                    background-size: cover;
                                    cursor: pointer;
                                    input{
                                        opacity: 0;
                                        display: block;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }
                            }
                            .pic-view{
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 10;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }
                    }
                    &:first-child{
                        padding-right: 4px;
                         padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                         padding-left: 4px;
                    }
                }
            }
            .form-tip{
                font-size: px2em(14);
                line-height: 1;
                padding-top: 10px;
                color: rgba(255,0,0,0.5);
            }
            .form-ipt{
                margin-top: 8px;
                input{
                    padding: px2em(10) px2em(6);
                    width: 100%;
                    border: 1px solid #dfdfdf;
                    border-radius: px2em(2);
                    &:focus{
                        border: 1px solid rgba(18,154,238,0.6);
                    }
                    &.has-error{
                        border: 1px solid rgba(255,0,0,0.5);
                    }
                }
                textarea{
                    width: 100%;
                    display: block;
                    border: 1px solid #dfdfdf;
                    border-radius: px2em(2);
                    padding: px2em(4) px2em(5);
                    resize: vertical;
                    &:focus{
                        border: 1px solid rgba(18,154,238,0.6);
                    }
                }
            }
            .form-btn{
                height: px2em(40);
                width: 100%;
                color: #fff;
                background: #129AEE;
                border-radius: px2em(2);
                font-size: px2em(18);
                border: 0;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .icon-loading{
                    display: none;
                }
                &:active{
                    opacity: 0.8;
                }
                &.disabled{
                    background-color: #d7d7d7;
                    cursor: not-allowed;
                    &:active{
                        opacity: 1;
                    }
                }
                &.loading{
                    .icon-loading{
                        display: inline-block;
                        animation: loading 500ms linear infinite;
                        @include sprite($icon-loading);
                        margin-right: px2em(8);
                    }
                    &:active{
                        opacity: 1;
                    }
                }
                &.succeed{
                    background-color: #FB4747;
                }
            }
        }
    }
}

@keyframes loading {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
