@import "../../assets/scss/_mixin.scss";
@import "../../assets/scss/_function.scss";
@import "../../assets/scss/_sprite.scss";
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .inner{
        max-width: 640px;
        min-width: 320px;
        margin: 0 auto;
        height: px2rem(50);
        background: #fbfbfb;
        ul{
            display: flex;
            height: 100%;
            li{
                width: 33.33%;
                height: 100%;
                a{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border-top: 1px solid #eee;
                    .icon{
                        display: block;
                        &.icon-home{
                            @include sprite($icon-index);
                        }
                        &.icon-ranking{
                            @include sprite($icon-ranking);
                        }
                        &.icon-signup{
                            @include sprite($icon-signup);
                        }
                    }
                    span{
                        color: #848689;
                        font-size: px2rem(12);
                        display: block;
                        margin-top: 4px;
                        line-height: 1;
                    }
                }
                a.active{
                    background-color: #129AEE;
                    border-top: 1px solid #129AEE;
                    .icon{
                        &.icon-home{
                            @include sprite($icon-index-active);
                        }
                        &.icon-ranking{
                            @include sprite($icon-ranking-active);
                        }
                        &.icon-signup{
                            @include sprite($icon-signup-active);
                        }
                    }
                    span{
                        color: #fff;
                    }
                }
            }
        }
    }
}
