#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#footer .inner {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  height: 3.125rem;
  background: #fbfbfb;
}

#footer .inner ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#footer .inner ul li {
  width: 33.33%;
  height: 100%;
}

#footer .inner ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-top: 1px solid #eee;
}

#footer .inner ul li a .icon {
  display: block;
}

#footer .inner ul li a .icon.icon-home {
  background-image: url("../../assets/image/sprite.png");
  background-position: -68px 0px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#footer .inner ul li a .icon.icon-ranking {
  background-image: url("../../assets/image/sprite.png");
  background-position: 0px -68px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#footer .inner ul li a .icon.icon-signup {
  background-image: url("../../assets/image/sprite.png");
  background-position: -34px 0px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#footer .inner ul li a span {
  color: #848689;
  font-size: 0.75rem;
  display: block;
  margin-top: 4px;
  line-height: 1;
}

#footer .inner ul li a.active {
  background-color: #129AEE;
  border-top: 1px solid #129AEE;
}

#footer .inner ul li a.active .icon.icon-home {
  background-image: url("../../assets/image/sprite.png");
  background-position: -34px -34px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#footer .inner ul li a.active .icon.icon-ranking {
  background-image: url("../../assets/image/sprite.png");
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#footer .inner ul li a.active .icon.icon-signup {
  background-image: url("../../assets/image/sprite.png");
  background-position: -68px -34px;
  width: 24px;
  height: 24px;
  background-size: 120px 120px;
}

#footer .inner ul li a.active span {
  color: #fff;
}
