<div id="footer">
    <div class="inner">
        <ul>
            <li>
                <a ui-sref="home.index" ui-sref-active="active">
                    <i class="icon"></i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a ui-sref="home.ranking" ui-sref-active="active">
                    <i class="icon"></i>
                    <span>排名</span>
                </a>
            </li>
            <li>
                <a ui-sref="home.signup" ui-sref-active="active">
                    <i class="icon"></i>
                    <span>报名</span>
                </a>
            </li>
        </ul>
    </div>
</div>
