<div id="ranking" ng-controller="ranking" ng-class="{'hasHeader':hasHeader}">
    <app-header ng-show="hasHeader" close="close()" more="share()">投票</app-header>
    <div class="padd-cont">
        <div class="look-detail-btn">
            <a class="link" ui-sref="vote({id:{{id}}})">
                <i class="icon"></i>
                <span>点击查看活动说明及奖励</span>
            </a>
        </div>
        <div class="search-btn">
            <div class="ipt">
                <i class="icon"></i>
                <input type="text" ng-model="keywords" placeholder="请输入选手的姓名或编号">
            </div>
            <div class="btn">
                <button type="button" ng-click="search()">搜索</button>
            </div>
        </div>
        <ul class="player-list">
            <li ng-repeat="item in list">
                <div class="inner">
                    <a class="pic" ng-click="lookPlayer(item.id)">
                        <img ng-src="{{item.photos[0]}}?x-oss-process=image/resize,m_fill,h_{{h}},w_{{w}}" alt="">
                    </a>
                    <p class="p1">
                        <span>{{item.name}}</span>
                        <span>编号:{{item.seriaNumber}}</span>
                    </p>
                    <p class="p2">
                        <span>票数</span>
                        <strong>{{item.votes}}</strong>
                        <span>名次</span>
                        <strong>{{item.ranking}}</strong>
                    </p>
                    <!-- //canVote 0 不能投 1可以投 2已投 -->
                    <!-- 0 明天再来；1 可以投票；2 已经投票 2.1判断倒计时字符串 2.2 红色明日再来 -->
                    <button ng-if="detail.voteStatus == 2 && item.canVote==2 && !!item.countdown" class="countdown" type="button">{{item.countdown}}</button>
                    <button ng-if="detail.voteStatus == 2 && item.canVote==2 && !item.countdown" class="tomorrow" type="button">明日再来</button>
                    <button ng-if="detail.voteStatus == 2 && item.canVote==1" class="canvote" type="button" ng-click="vote(item)">投一票</button>
                    <button ng-if="detail.voteStatus == 2 && item.canVote==0" class="disabled" type="button" ng-click="voteDisabled()">明天再来</button>
                    <button ng-if="detail.voteStatus == 1" class="disabled" type="button">投票未开始</button>
                    <button ng-if="detail.voteStatus == 3" class="disabled" type="button">投票已结束</button>
                </div>
            </li>
        </ul>
        <p class="load-more" ng-show="loading==2" ng-click="getList()">
            加载更多
        </p>
        <p class="load-all" ng-show="loading==3">
            已加载完所有
        </p>
        <p class="load-all" ng-show="loading==5">
            暂无数据
        </p>
        <p class="list-loading" ng-show="loading==1 || loading==4">
            加载中...
        </p>
    </div>
</div>
