html {
  height: 100%;
  -ms-touch-action: none;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 13.65333px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 15.36px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 17.664px;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  line-height: 1.3;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  line-height: inherit;
  outline: 0;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: #eee;
}

input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check,
input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear,
input::-webkit-input-speech-button,
select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hide {
  display: none !important;
}

.padd-cont {
  padding: 0 0.625em;
}

.look-detail-btn {
  margin-top: 1.25em;
}

.look-detail-btn .link {
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #129AEE;
  border-radius: 0.1875em;
  width: 100%;
  height: 2.5em;
  color: #fff;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.look-detail-btn .link .icon {
  margin-right: 5px;
  display: block;
  background-image: url("../../assets/image/sprite.png");
  background-position: -132px -24px;
  width: 14px;
  height: 14px;
  background-size: 146px 120px;
}

.look-detail-btn .link:active {
  opacity: 0.8;
}

.search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25em;
}

.search-btn .ipt {
  background: #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.625em;
  height: 2.5em;
  border: 1px solid #dfdfdf;
  border-radius: 0.1875em;
}

.search-btn .ipt .icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 0.375em;
  background-image: url("../../assets/image/sprite.png");
  background-position: -102px 0px;
  width: 20px;
  height: 20px;
  background-size: 146px 120px;
}

.search-btn .ipt input {
  width: 100%;
  border: 0;
}

.search-btn .btn {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.search-btn .btn button {
  color: #fff;
  width: 5em;
  height: 2.5em;
  background: #FB4747;
  border: 0;
  border-radius: 0.1875em;
}

.search-btn .btn button:active {
  opacity: 0.8;
}

.player-list {
  margin-top: 1.25em;
}

.player-list:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  clear: both;
}

.player-list li {
  float: left;
  width: 50%;
  margin-bottom: 0.625em;
}

.player-list li:nth-child(odd) {
  padding-right: 0.3125em;
}

.player-list li:nth-child(even) {
  padding-left: 0.3125em;
}

.player-list li .inner {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 0.1875em;
  padding: 0.5em;
  background: #fff;
}

.player-list li .inner .pic {
  height: 12.5em;
  width: 100%;
  overflow: hidden;
  border-radius: 0.125em;
  background-color: #eee;
  display: block;
}

.player-list li .inner .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.player-list li .inner .p1 {
  font-size: 0.875em;
  color: #686868;
  margin-top: 0.625em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.player-list li .inner .p1 span:first-child {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-list li .inner .p1 span:last-child {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  word-break: keep-all;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.player-list li .inner .p2 {
  font-size: 0.875em;
  color: #686868;
  line-height: 1.25em;
  margin-top: 0.1875em;
}

.player-list li .inner .p2 strong {
  background: #EBEBEB;
  padding: 0 5px;
  border-radius: 0.125em;
  font-weight: normal;
}

.player-list li .inner button {
  margin-top: 0.5em;
  height: 1.875em;
  text-align: center;
  color: #fff;
  border: 0;
  width: 100%;
  border-radius: 0.125em;
}

.player-list li .inner button.countdown {
  background-color: #FB4747;
  cursor: not-allowed;
}

.player-list li .inner button.tomorrow {
  background-color: #FB4747;
  cursor: not-allowed;
}

.player-list li .inner button.canvote {
  background-color: #129AEE;
}

.player-list li .inner button.canvote:active {
  opacity: 0.8;
}

.player-list li .inner button.disabled {
  background-color: #d7d7d7;
  cursor: not-allowed;
}

.load-more, .load-all, .list-loading {
  padding-top: 0.25em;
  padding-bottom: 0.9375em;
  text-align: center;
  color: #ccc;
}

.load-more {
  font-size: 0.9375em;
}

.load-all {
  font-size: 0.875em;
}

.list-loading {
  font-size: 0.9375em;
}
