@import "../../assets/scss/_mixin.scss";
@import "../../assets/scss/_function.scss";
@import "../../assets/scss/_sprite.scss";
html {
	height: 100%;
	-ms-touch-action: none;
	font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
		font-size: adaptPx(320);
    }
}
@media screen and (min-width: 360px) {
    html {
		font-size: adaptPx(360);
    }
}
@media screen and (min-width: 375px) {
    html {
		font-size: adaptPx(375);
    }
}
@media screen and (min-width: 414px) {
    html {
		font-size: adaptPx(414);
    }
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    min-height: 100%;
	line-height: 1.3;
	color: #000;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
  list-style: none;
}
a,
button,
input,
textarea,
select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	line-height: inherit;
	outline: 0;
}
input::-webkit-input-placeholder {
	color: #aaa;
}
input:focus::-webkit-input-placeholder {
	color: #eee;
}
input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check,
input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear,
input::-webkit-input-speech-button,
select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"]{
	-moz-appearance:textfield;
}

.hide {
	display: none !important;
}

.padd-cont{
	padding: 0 px2em(10);
}

// 查看详情按钮
.look-detail-btn{
	margin-top: px2em(20);
	.link{
		text-decoration: none;
		display: flex;
		background: #129AEE;
		border-radius: px2em(3);
		width: 100%;
		height: px2em(40);
		color: #fff;
		text-align: center;
		justify-content: center;
		align-items: center;
		.icon{
			margin-right: 5px;
			display: block;
			@include sprite($icon-notice);
		}
		&:active{
			opacity: 0.8;
		}
	}
}

// 搜索按钮
.search-btn{
	display: flex;
	align-items: center;
	margin-top: px2em(20);
	.ipt{
		background: #fff;
		flex-grow: 1;
		margin-right: px2em(10);
		display: flex;
		align-items: center;
		padding-left: px2em(10);
		height: px2em(40);
		border: 1px solid #dfdfdf;
		border-radius: px2em(3);
		.icon{
			flex-shrink: 0;
			margin-right: px2em(6);
			@include sprite($icon-search);
		}
		input{
			width: 100%;
			border: 0;
		}
	}
	.btn{
		flex-shrink: 0;
		button{
			color: #fff;
			width: px2em(80);
			height: px2em(40);
			background: #FB4747;
			border: 0;
			border-radius: px2em(3);
			&:active{
				opacity: 0.8;
			}
		}
	}
}

// 选手列表
.player-list{
	@include clearfix();
	margin-top: px2em(20);
	li{
		float: left;
		width: 50%;
		margin-bottom: px2em(10);
		&:nth-child(odd){
			padding-right: px2em(5);
		}
		&:nth-child(even){
			padding-left: px2em(5);
		}
		.inner{
			width: 100%;
			border: 1px solid #dfdfdf;
			border-radius: px2em(3);
			padding: px2em(8);
			background: #fff;
			.pic{
				height: px2em(200);
				width: 100%;
				overflow: hidden;
				border-radius: px2em(2);
				background-color: #eee;
				display: block;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.p1{
				font-size: px2em(14);
				color: #686868;
				margin-top: px2em(10);
				display: flex;
				span{
					&:first-child{
						flex-grow: 2;
						flex-shrink: 1;
						@include otw();
					}
					&:last-child{
						flex-grow: 2;
						word-break: keep-all;
						flex-shrink: 0;
					}
				}
			}
			.p2{
				font-size: px2em(14);
				color: #686868;
				line-height: px2em(20);
				margin-top: px2em(3);
				strong{
					background: #EBEBEB;
					padding: 0 5px;
					border-radius: px2em(2);
					font-weight: normal;
				}
			}
			button{
				margin-top: px2em(8);
				height: px2em(30);
				text-align: center;
				color: #fff;
				border: 0;
				width: 100%;
				border-radius: px2em(2);
				&.countdown{
					background-color: #FB4747;
					cursor: not-allowed;
				}
				&.tomorrow{
					background-color: #FB4747;
					cursor: not-allowed;
				}
				&.canvote{
					background-color: #129AEE;
					&:active{
						opacity: 0.8;
					}
				}
				&.disabled{
					background-color: #d7d7d7;
					cursor: not-allowed;
				}
			}
		}
	}
}
// 加载更多
.load-more,.load-all,.list-loading{
	padding-top: px2em(4);
	padding-bottom: px2em(15);
	text-align: center;
	color: #ccc;
}
.load-more{
	font-size: px2em(15);
}
.load-all{
	font-size: px2em(14);
}
.list-loading{
	font-size: px2em(15);
}
